<!DOCTYPE html>

<html>
<head>
  <title>Real time chat with RoR and Cassandra </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'chat' %>
</head>
<body>

<section class="chat-box">

  <header class="chat-header">
    <h1>Chat</h1>
    <div>
      <a id="clear-chat" onclick="clear_chat();">Clear</a>
    </div>
  </header>
  
  <ol class="discussion" id="discussion">
    <!--messages go here -->
  </ol>
  <div id="new-message">
    &#9660; New messages
  </div>
  <input class="message-box" id="message-box" placeholder="Write your message...">
  <div class="copyright"> Juan Lizarazo & Devan Allen &copy; <%= Time.now.year %></div>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
  var authenticity_token = '<%= form_authenticity_token %>';
</script>
<%= javascript_include_tag "chat" %>
</body>
</html>