<% @messages.each do |message| %>

  <% user = User.find(message.sent_by_user_id) %>
  
  <li class="<%= (message.sent_by_user_id.to_s == @logged_in_user) ? 'user' : 'other-user' %>">
    <div class="user-image">
      <%= render_profile_pic(user) %>
    </div>
    <div class="messages">
      <p class="messages-main"><%= message.message %></p>
      <% 
      time = Time.at (message.created_at)
      sent_at = time.strftime("%b %d, %Y at %I:%M %p")
      %>
      <p class="message-info">Sent by <%= user.username %> on <%= sent_at %></p>
    </div>
  </li>
  
<% end %>