<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag 'user' %>
</head>

<body>
<section class="login-box">
  <header class="login-header">
    <h1>Chat Login</h1>
  </header>
  <ol class="selection-box">
    <% @users.each do |user| %>
      
      <%= link_to "user/logged_in_user_id", :id => '#{user.id}' do%> 
        <li>
          <div class="user-image">
            <%= image_tag ("profile_pics/" + user.profile_pic) %>
          </div> 
          <p class="user-name"><%= user.user_name %></p>
        </li>  
      <% end %>
    <% end %>
  </ol>
  <%= session[:logged_in_user_id] %>
</section>
</body>
</html>
